{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Mon deuxieme
{% endblock %}

{% block body %}
    <ul>
        {% for serie in series %}
            <li><a href="{{ path('mon_deuxieme_une_seule_serie', {'id': serie.id}) }}">{{ serie.titre }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}