{% extends 'base.html.twig' %}

{% block body %}
    <p>{{ serie.titre }}</p>
    <hr>
    <div>Saisons</div>
    <ul>
        {% for saison in serie.saisons %}
            <li>{{ saison.nbEpisodes }}</li>
        {% endfor %}
    </ul>

{% endblock %}

{% block title %}

{% endblock %}

